<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.ui.activity"
    android:minSdkVersion="8"
    android:targetSdkVersion="8"
    android:installLocation="preferExternal">
    <span style="color:#ff0000;"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/title"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="PgoYxCpLcAosuPWAlFY6ce1nlgXt38hi"/>
        <activity android:name="app.ui.activity.WelcomeActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>
        <activity android:name="app.ui.activity.MapSeek"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">

        </activity>
        <activity android:name="app.ui.activity.Calculator"
            android:screenOrientation="portrait"></activity>
        <activity android:name="app.ui.activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"/>
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <activity android:name="app.ui.activity.Capitals"
            android:screenOrientation="portrait"></activity>
        <activity android:name="app.ui.activity.Currencies"
            android:screenOrientation="portrait"></activity>
        <activity android:name="app.ui.activity.length"
            android:screenOrientation="portrait"></activity>
        <activity android:name="app.ui.activity.Area"
            android:screenOrientation="portrait"></activity>
        <activity android:name="app.ui.activity.Volume"
            android:screenOrientation="portrait"></activity>
        <activity android:name="app.ui.activity.Fail"
            android:screenOrientation="portrait"/>
        <activity android:name="app.ui.activity.Attribution"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="app.ui.activity.Selectcity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".Weather"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="app.ui.activity.Expressage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>




        <!-- 其他组件 -->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity >



        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service >

        <receiver android:name="net.youmi.android.AdReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />

                <data android:scheme="package" />
            </intent-filter >
        </receiver >

        <!-- 有米SDK为了兼容Android N应用间共享文件行为变更而需要配置的FileProvider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.youmi.android.addemo.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider >

        <!-- 有米渠道号(可选配置) 渠道号不能带空格，类型为整数 -->
        <meta-data
            android:name="YOUMI_CHANNEL"
            android:value="0" >
        </meta-data >



    </application>




    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <!-- 百度API所需权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 以下为广告可选权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>